$row-width: 1400px;
$inner-row-width: 800px;

$default: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  default: $default,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

$gutter-width: 15px;

$flex-grid-count: 12;
$flex-grow-default: 0;
$flex-shrink-default: 1;
